*,
::after,
::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    position: relative;
    color: #fff;
    font-size: 16px;
    line-height: 14px;
    height: 100vh;
}

.container {
    max-width: 1030px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background-color: #2b2b2b;
    padding: 20px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {

    img {
        height: 75px;
    }
}

.nav {}

.menu {
    display: flex;
    text-transform: uppercase;

    &__item {
        padding: 5px 10px;
    }

    &__link {
        padding-left: 15px;
    }
}

.info {
    text-transform: uppercase;

    &__list {
        display: flex;
    }

    &__item {
        padding: 5px 10px;
    }

    &__link {
        padding-left: 15px;
    }
}

.main{
    margin: 40px 0;
    background-color: grey;
}

.footer {
    background-color: #2b2b2b;
    min-height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    &__wrapper{
        display: flex;
        height: 100px;
        align-items: center;
        justify-content: center;
    }
}